<div>
  <!-- <img src="https://i.kym-cdn.com/photos/images/original/000/157/783/1u7p.jpg" /> -->
  <form [formGroup]="form" ngxsForm='form' class="form">
    <div class="input-container">
      <input type="text" formControlName="description" placeholder="Insert Todo ..." />
    </div>

    <div class="input-container">
      <input type="checkbox" id="done" formControlName="done">
      <label for="done">Done?</label>
    </div>

    <button (click)="onSubmit()">Submit</button>
  </form>

  <router-outlet></router-outlet>

  <h4>Todo List:</h4>
  <div *ngFor="let todo of todos$ | async" class="todo-item" (click)="toggleDone(todo)">
    <span [ngClass]="{ 'done' : todo.done }">{{ todo | json }}</span>
    <span class="hint">Click to toggle done/not done</span>
  </div>
</div>

