.form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  label {
   margin-top: -4px;
  }

  .input-container {
   margin-right: 8px;
  }
 }

 .todo-item {
   padding: 4px;
   border: 2px solid black;
   margin-bottom: 4px;
   cursor: pointer;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   .done {
     text-decoration: line-through;
   }

   .hint {
     color: rgba(0, 0, 0, 0.4);
     font-variant: small-caps;
   }
 }
